[user]
	name = AK47are
	email = 3318517070@qq.com
[core]
	editor = nvim
    pager = delta
	quotepath = false
	symlinks = true
	autocrlf = input
    safecrlf = false
	longpaths = true
[i18n]
	logOutputEncoding = utf-8
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[credential "helperselector"]
	selected = manager
[init]
	defaultBranch = main
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    dark = true
[merge]
    conflictStyle = zdiff3
