[user]
	name = AK47are
	email = 3318517070@qq.com
[core]
	editor = nvim
	quotepath = false
	symlinks = true
	autocrlf = input
[i18n]
	logOutputEncoding = utf-8
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[credential "helperselector"]
	selected = manager
[init]
	defaultBranch = main
